<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322110885034-2qpf13oua40ple06kag4f1osonrtfuqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322110885034-2qpf13oua40ple06kag4f1osonrtfuqg</string>
	<key>API_KEY</key>
	<string>AIzaSyA3e9v1JLWYZINQyTtgobiJO33T5FRCKkE</string>
	<key>GCM_SENDER_ID</key>
	<string>322110885034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voyageur.onepone</string>
	<key>PROJECT_ID</key>
	<string>p-1-b1fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>p-1-b1fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322110885034:ios:0ee5058815821e9c3994d3</string>
	<key>DATABASE_URL</key>
	<string>https://p-1-b1fe5.firebaseio.com</string>
</dict>
</plist>